# Sales data from more than 16,500 games

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('vgsales.csv')

In [52]:
# type(df)

In [34]:
df[['Publisher']]

        Publisher
0        Nintendo
1        Nintendo
2        Nintendo
3        Nintendo
4        Nintendo
...           ...
16593       Kemco
16594  Infogrames
16595  Activision
16596    7G//AMES
16597     Wanadoo

[16598 rows x 1 columns]

#### Which company is the most common video game publisher?

In [53]:
df[['Publisher']].value_counts().head(1)

Publisher
Electronic Arts    1351
dtype: int64

#### What’s the most common platform?

In [48]:
df[['Platform']].value_counts().head(1)

Platform
DS          2163
dtype: int64

#### What about the most common genre?

In [51]:
df[['Genre']].value_counts().head(1)

Genre
Action    3316
dtype: int64

#### What are the top 20 highest grossing games?

In [109]:
df.sort_values('Rank', ascending=True).head(20)['Name']

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
Name: Name, dtype: object

#### For North American video game sales, what’s the median?

In [122]:
df[['NA_Sales']].median()

NA_Sales    0.08
dtype: float64